MONITOR ups1@localhost 1 upsmon YOUR_NUT_PASSWORD master
NOTIFYCMD "/Users/Steve/projects/UPS/ups_handler.sh"
SHUTDOWNCMD "/sbin/shutdown -h +0"
NOTIFYFLAG ONLINE SYSLOG+EXEC
NOTIFYFLAG ONBATT SYSLOG+EXEC
NOTIFYFLAG LOWBATT SYSLOG+EXEC
NOTIFYFLAG FSD SYSLOG+EXEC
NOTIFYFLAG COMMOK SYSLOG+EXEC
NOTIFYFLAG COMMBAD SYSLOG+EXEC
NOTIFYFLAG SHUTDOWN SYSLOG+EXEC
NOTIFYMSG ONLINE "UPS ups1 on line"
NOTIFYMSG ONBATT "UPS ups1 on battery"
NOTIFYMSG LOWBATT "UPS ups1 low battery"
MINSUPPLIES 1
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 15
POWERDOWNFLAG /usr/local/etc/nut/killpower
RBWARNTIME 300
FINALDELAY 130
